A bike-sharing system is a service in which bikes are made available for shared use to individuals on a short term basis for a price or free

A US bike-sharing provider BoomBikes has recently suffered considerable dips in their revenues due to the ongoing Corona pandemic. The company is finding it very difficult to sustain in the current market scenario. So, it has decided to come up with a mindful business plan to be able to accelerate its revenue as soon as the ongoing lockdown comes to an end, and the economy restores to a healthy state

In [1]:
# Importing all required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
#Importing dataset
bike_df = pd.read_csv('day.csv')

In [3]:
bike_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [4]:
bike_df.dteday = pd.to_datetime(bike_df.dteday)

In [5]:
bike_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-02-01,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-03-01,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-04-01,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-05-01,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [6]:
bike_df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,365.500000,2.498630,0.500000,6.526027,0.028767,2.997260,0.683562,1.394521,20.319259,23.726322,62.765175,12.763620,849.249315,3658.757534,4508.006849
std,210.877136,1.110184,0.500343,3.450215,0.167266,2.006161,0.465405,0.544807,7.506729,8.150308,14.237589,5.195841,686.479875,1559.758728,1936.011647
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.424346,3.953480,0.000000,1.500244,2.000000,20.000000,22.000000
25%,183.250000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,13.811885,16.889713,52.000000,9.041650,316.250000,2502.250000,3169.750000
50%,365.500000,3.000000,0.500000,7.000000,0.000000,3.000000,1.000000,1.000000,20.465826,24.368225,62.625000,12.125325,717.000000,3664.500000,4548.500000
75%,547.750000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,26.880615,30.445775,72.989575,15.625589,1096.500000,4783.250000,5966.000000
max,730.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,35.328347,42.044800,97.250000,34.000021,3410.000000,6946.000000,8714.000000

In [7]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    datetime64[ns]
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(11)
memory usage: 91.4 KB

In [8]:
#Determining the number of rows and columns
bike_df.shape

(730, 16)

#### Peforming EDA

In [9]:
#Rename the columns for better understanding
bike_df.rename(columns = {'yr':'Year','mnth':'month','hum':'humidity','cnt':'count','dteday':'Date','atemp':'temp_feel_like'}, inplace = True) 
bike_df.head()

,instant,Date,season,Year,month,holiday,weekday,workingday,weathersit,temp,temp_feel_like,humidity,windspeed,casual,registered,count
0,1,2018-01-01,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-02-01,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-03-01,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-04-01,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-05-01,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [10]:
#Checking missing values
bike_df.isnull().sum()

instant           0
Date              0
season            0
Year              0
month             0
holiday           0
weekday           0
workingday        0
weathersit        0
temp              0
temp_feel_like    0
humidity          0
windspeed         0
casual            0
registered        0
count             0
dtype: int64

No Null Values

In [11]:
# remove duplicates
bike_df.drop_duplicates(subset=None, inplace = True)
bike_df.shape

(730, 16)

In [12]:
# Features that needs to drop which are not required
varlist =  ['registered', 'casual', 'instant','Date']
bike_df.drop(varlist, axis=1, inplace=True)

In [13]:
bike_df.head()

,season,Year,month,holiday,weekday,workingday,weathersit,temp,temp_feel_like,humidity,windspeed,count
0,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,985
1,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,801
2,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,1349
3,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,1562
4,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,1600

### Visualising Data

In [14]:
features = ['season','Year','month','holiday','weekday','workingday','weathersit','temp','temp_feel_like','humidity','windspeed','count']

In [ ]:
sns.pairplot(bike_df,vars=features)
plt.show()

 Looking at above  plots , we can see that there are some independent variables look positively correlated to the 'count' variable.

* Bike rentals are more correlated to temperature

In [ ]:
# Pair plot with specific variables
sns.pairplot(data = bike_df, vars = ['temp', 'temp_feel_like', 'humidity', 'windspeed', 'count'])
plt.show()

In [ ]:
bike_df_copy = bike_df.copy()

In [ ]:
bike_df_copy.head()

In [ ]:
#Mapping variables season, month, weathersit, weekday

bike_df_copy['season']=bike_df_copy.season.map({1: 'spring', 2: 'summer',3:'fall', 4:'winter' })
bike_df_copy['month']=bike_df_copy.month.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'June',7:'July',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
bike_df_copy['weathersit']=bike_df_copy.weathersit.map({1: 'Clear',2:'Misty',3:'Ligh_Snow',4:'Heavy_rain_snow'})
bike_df_copy['weekday']=bike_df_copy.weekday.map({0:'Sun',1:'Mon',2:'Tue',3:'Wed',4:'Thu',5:'Fri',6:'Sat'})
# bike_df['Year']=bike_df.Year.map({0: "2018", 1: "2019"})

bike_df.head()

In [ ]:
bike_df.info()

### Visualising Categorical Variables¶

In [ ]:
plt.figure(figsize=(20, 12))
plt.subplot(2,4,1)
sns.boxplot(x = 'Year', y = 'count', data = bike_df)
plt.subplot(2,4,2)
sns.boxplot(x = 'holiday', y = 'count', data = bike_df)
plt.subplot(2,4,3)
sns.boxplot(x = 'workingday', y = 'count', data = bike_df)
plt.subplot(2,4,4)
sns.boxplot(x = 'month', y = 'count', data = bike_df)
plt.subplot(2,4,5)
sns.boxplot(x = 'weathersit', y = 'count', data = bike_df)
plt.subplot(2,4,6)
sns.boxplot(x = 'season', y = 'count', data = bike_df)
plt.subplot(2,4,7)
sns.boxplot(x = 'weekday', y = 'count', data = bike_df)
plt.show()

The plots above shows the relationship between categorical variables and a Target variable.

* Bike Rentals count are more during the Fall season and then in summer
* Bike Rentals count are more in the year 2019 compared to 2018
* Bike Rentals count are more in Clear weather and less in snow 
* Bike Rentals count are more on Saturday,wednesday and thursday

### Analysing Categorical variables individualy

In [ ]:
def categorical_plot(x,plothue=None):
    plt.figure(figsize=(10,5))
    ax = sns.barplot(x=x, y="count", data=bike_df,palette="viridis",hue=plothue,errwidth=0)
    for i in ax.containers:
        ax.bar_label(i,)
    plt.show()

In [ ]:
#Barplot to see relation between year and count of bike rentals
categorical_plot('Year')

More bike rentals happened in year 2019

In [ ]:
#Barplot to see relation between season and count of bike rentals
categorical_plot('season')

Bike Rentals are more in Summer and Fall , Less in Spring

In [ ]:
#Relation between weather and count of bike rentals
categorical_plot('weathersit')

Bike Rentals are more in Clear Weather and less in light snow

In [ ]:

categorical_plot('month','Year')

Bike Rentals are more in the year 2019 compared to 2018¶

In [ ]:
#scatter plot for temperature to count
sns.scatterplot(x='temp',y='count' ,data=bike_df)
plt.show()

In [ ]:
sns.scatterplot(x='humidity', y='count',data=bike_df)
plt.show()

More Bike rental counts observed at higher humidity

### Heatmap

In [ ]:
plt.figure(figsize=(20, 12))
sns.heatmap(bike_df.corr(), cmap='viridis', annot = True)
plt.title("Correlation between Variables")
plt.show()

We can see that Count and atemp are correlated to count variable

In [ ]:
bike_df.info()

In [ ]:
bike_df.info()

### Data Preparation

In [ ]:
print(bike_df_copy.workingday.value_counts())
print(bike_df_copy.holiday.value_counts())
print(bike_df_copy.season.value_counts())
print(bike_df_copy.weathersit.value_counts())
print(bike_df_copy.month.value_counts())

In [ ]:
bike_df_copy.info()

### Create dummy varibales for categorical Variables

In [ ]:
# Get the dummy variables for month, season, weathersit, weekday 
seasons = pd.get_dummies(bike_df_copy.season,drop_first=True)
months = pd.get_dummies(bike_df_copy.month,drop_first=True)
weekdays = pd.get_dummies(bike_df_copy.weekday,drop_first=True)
weather_sit = pd.get_dummies(bike_df_copy.weathersit,drop_first=True)
# year = pd.get_dummies(bike_df['Year'], drop_first = True)

In [ ]:
bike_df_copy.head()

In [ ]:
bike_df_new =  pd.concat([bike_df_copy,seasons,months,weather_sit,weekdays], axis = 1)
bike_df.head()

In [ ]:
bike_df_new.shape

In [ ]:
bike_df_new.info()

In [ ]:
# Dropping columns for which we have created dummies

In [ ]:
bike_df_new.drop(['season','month','weekday','weathersit'], axis = 1, inplace = True)
bike_df_new.head()

In [ ]:
bike_df_new.columns

In [ ]:
bike_df_new.shape

In [ ]:
bike_df_new.info()

In [ ]:
#Now lets check the correlation between variables again
#Heatmap to see correlation between variables
plt.figure(figsize=(25, 20))
sns.heatmap(bike_df_new.corr(), cmap='YlGnBu', annot = True)
plt.show()

### Step : Splitting the Data into Training and Testing Sets
As you know, the first basic step for regression is performing a train-test split.

In [ ]:
from sklearn.model_selection import train_test_split

# We specify this so that the train and test data set always have the same rows, respectively
np.random.seed(0)
bike_df_train, bike_df_test = train_test_split(bike_df_new, train_size = 0.7,test_size = 0.30, random_state = 100)

In [ ]:
bike_df_test1 = bike_df_test.copy()

In [ ]:
print(bike_df.shape)
print(bike_df_train.shape)
print(bike_df_test.shape)

### Rescaling the Features

For Simple Linear Regression, scaling doesn't impact your model. Here we can see that except for area, all the columns have small integer values. So it is extremely important to rescale the variables so that they have a comparable scale. If we don't have comparable scales, then some of the coefficients as obtained by fitting the regression model might be very large or very small as compared to the other coefficients. This might become very annoying at the time of model evaluation. So it is advised to use standardization or normalization so that the units of the coefficients obtained are all on the same scale. As you know, there are two common ways of rescaling:

* Min-Max scaling
* Standardisation (mean-0, sigma-1)
This time, we will use MinMax scaling.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
bike_df_new.head()

In [ ]:
# Apply scaler() to all the columns except 'dummy' variables
num_vars=['temp','humidity','windspeed','count','temp_feel_like']

In [ ]:
bike_df_train[num_vars] = scaler.fit_transform(bike_df_train[num_vars])

In [ ]:
bike_df_train.head()

In [ ]:
# Let's check the correlation coefficients to see which variables are highly correlated

plt.figure(figsize = (30, 20))
sns.heatmap(bike_df_train.corr(), annot = True, cmap="YlGnBu")
plt.show()

Temp and year are correlated to the count ,and August,September month seems to be correlated to count

In [ ]:
plt.figure(figsize=[6,6])
plt.scatter(bike_df_train.temp, bike_df_train['count'])
plt.show()

### Building our model
This time, we will be using the LinearRegression function from SciKit Learn for its compatibility with RFE (which is a utility from sklearn)

#### Recursive Feature Elimination

##### Dividing into X and Y sets for the model building

In [ ]:
bike_df_train.columns

In [ ]:
#Divide the data into X and y
y_train = bike_df_train.pop('count')
X_train = bike_df_train

In [ ]:
X_train.info()

In [ ]:
# Importing RFE and LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm
from sklearn.metrics import r2_score

In [ ]:
# Running RFE with the output number of the variable equal to 15
lm = LinearRegression()
lm.fit(X_train, y_train)
rfe = RFE(lm,n_features_to_select=15)
rfe = rfe.fit(X_train, y_train)

In [ ]:
list(zip(X_train.columns,rfe.support_,rfe.ranking_))

In [ ]:
# checking which features are considered via RFE
col = X_train.columns[rfe.support_]
col

In [ ]:
# checking which features are rejected
X_train.columns[~rfe.support_]

In [ ]:
# To calculate VIF of variables
def calculate_VIF(df):
    vif = pd.DataFrame()
    vif['Features'] = df.columns
    vif['VIF'] = [variance_inflation_factor(df.values, i) for i in range(df.shape[1])]
    vif['VIF'] = round(vif['VIF'], 2)
    vif = vif.sort_values(by = "VIF", ascending = False)
    return vif

In [ ]:
# Creating X_test dataframe with RFE selected variables
X_train_rfe = X_train[col]

In [ ]:
vif = pd.DataFrame()
X = X_train_rfe
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

### Linear Model Building

In [ ]:
X_train_lm_1 = sm.add_constant(X_train_rfe)
lr_1 = sm.OLS(y_train,X_train_lm_1).fit()

In [ ]:
print(lr_1.summary())

In [ ]:
# workingday  shows high VIF values hence dropping it
X_train_new = X_train_rfe.drop(['workingday'], axis = 1)

# Run the function to calculate VIF for the new model
calculate_VIF(X_train_new)

##### Rebuilding Linear Model without working day

In [ ]:
X_train_lm_2 = sm.add_constant(X_train_new)
lr_2 = sm.OLS(y_train,X_train_lm_2).fit()

In [ ]:
print(lr_2.summary())

In [ ]:
#  humidity shows high VIF values hence we can drop it
X_train_new = X_train_new.drop(['humidity'], axis = 1)

# Run the function to calculate VIF for the new model
calculate_VIF(X_train_new)

In [ ]:
# Building 3rd linear regression model

X_train_lm_3 = sm.add_constant(X_train_new)
lr_3 = sm.OLS(y_train,X_train_lm_3).fit()
print(lr_3.summary())

In [ ]:
# p-value for sat is high so dropping it
X_train_new = X_train_new.drop(['Sat'], axis = 1)

# Run the function to calculate VIF for the new model
calculate_VIF(X_train_new)

In [ ]:
# Building again the 4th linear regression model

X_train_lm_4 = sm.add_constant(X_train_new)
lr_4 = sm.OLS(y_train,X_train_lm_4).fit()
print(lr_4.summary())

In [ ]:
# p-value for july is high so dropping it
X_train_new = X_train_new.drop(['July'], axis = 1)

# Run the function to calculate VIF for the new model
calculate_VIF(X_train_new)

In [ ]:
# Building 5th linear regression model

X_train_lm_5 = sm.add_constant(X_train_new)
lr_5 = sm.OLS(y_train,X_train_lm_5).fit()
print(lr_5.summary())

In [ ]:
# p-value for july is high so dropping it
X_train_new = X_train_new.drop(['spring'], axis = 1)

# Run the function to calculate VIF for the new model
calculate_VIF(X_train_new)

In [ ]:
# Building 6th linear regression model

X_train_lm_6 = sm.add_constant(X_train_new)
lr_6 = sm.OLS(y_train,X_train_lm_6).fit()
print(lr_6.summary())

for all the predictors seems to be significant as there seems to be VERY LOW Multicollinearity between the predictors and the p-values For now, we will consider this as our final model.

In [ ]:
# Checking the parameters and their coefficient values
lr_6.params

All coefficients are not equal to zero, which means We can REJECT the NULL HYPOTHESIS

Inference
- Count of bike booking increases with increase in temp 
- Count of bike booking increase inmonth of Sep and is high in summer season
- Count of bike booking Decreases wrt Holiday, Windspeed, Sunday, snow rain, Misty.

#### Residual Analysis of Train Data

In [ ]:
X_train_lm_6

In [ ]:
y_train_pred = lr_6.predict(X_train_lm_6)

## Normality

In [ ]:
# Plot the histogram of the error terms

fig = plt.figure()
sns.distplot((y_train - y_train_pred), bins = 20)
fig.suptitle('Error Terms', fontsize = 20) 
plt.xlabel('Errors', fontsize = 18)

Graph show normal distribution for Erros

## MultiColinearity

In [ ]:
calculate_VIF(X_train_new)


VIF Value shows that there is no multicolinearity

## Check for Linearity

In [ ]:
# Linear relationship validation using CCPR plot
# Component and component plus residual plot

sm.graphics.plot_ccpr(lr_6, 'temp')
plt.show()

sm.graphics.plot_ccpr(lr_6, 'Sep')
plt.show()

sm.graphics.plot_ccpr(lr_6, 'windspeed')
plt.show()

### Prediction Using Final Model

In [ ]:
bike_df_test1.info()

In [ ]:
# Apply scaler() to all numeric variables in test dataset. Note: we will only use scaler.transform, 
# as we want to use the metrics that the model learned from the training data to be applied on the test data. 
# In other words, we want to prevent the information leak from train to test dataset.

num_vars = ['temp', 'temp_feel_like', 'humidity', 'windspeed','count']

bike_df_test1[num_vars] = scaler.transform(bike_df_test1[num_vars])

In [ ]:
bike_df_test1

In [ ]:
bike_df_test1.describe()

### Test Between X_test and y_test

In [ ]:
y_test = bike_df_test1.pop('count')
X_test = bike_df_test1
X_test.info()

In [ ]:
#Selecting the variables that were part of final model.
col1 = X_train_new.columns
X_test = X_test[col1]
# Adding constant variable to test dataframe
X_test_lm6 = sm.add_constant(X_test)
X_test_lm6.info()

In [ ]:
# Making predictions using the final model (lr6)

y_pred = lr_6.predict(X_test_lm6)

In [ ]:
r2 = r2_score(y_test, y_pred)
round(r2,4)

### Model Evaluation

In [ ]:
fig = plt.figure()
plt.scatter(y_test, y_pred, alpha=.5)
fig.suptitle('y_test vs y_pred', fontsize = 20)              # Plot heading 
plt.xlabel('y_test', fontsize = 18)                          # X-label
plt.ylabel('y_pred', fontsize = 16) 
plt.show()

In [ ]:
round(lr_6.params,4)

In [ ]:
r2_score(y_test, y_pred)

In [ ]:
# We already have the value of R^2 (calculated in above step)

r2=0.7958272128950747

In [ ]:
# Get the shape of X_test
X_test.shape

In [ ]:
# n is number of rows in X

n = X_test.shape[0]


# Number of features (predictors, p) is the shape along axis 1
p = X_test.shape[1]

# We find the Adjusted R-squared using the formula

adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
adjusted_r2

In [ ]:
# Visualizing the fit on the test data
# plotting a Regression plot

plt.figure()
sns.regplot(x = y_test, y = y_pred, ci = 68, fit_reg = True, scatter_kws = {"color": "skyblue"}, line_kws = {"color": "red"})
plt.title('y_test vs y_pred', fontsize = 20)
plt.xlabel('y_test', fontsize = 18)
plt.ylabel('y_pred', fontsize = 16)
plt.show()

### As per above analysis, the comapany should focus on the following features:
- Since there are more bookins in Spring and September , Company can plan to expand business by targeting clients

- Less bookins happen during holidays and Light Snow, company can give more discounts to attract more business or do maintnance work. 

Features to be considerd:
- temp
- holiday
- Sunday
- humidity
- windspeed
- Season
- months(January, July, September, November, December)
- weathersit( Light Snow, Mist + Cloudy)